/* ___    _   _   _____    _____   ____       _      __  __   _____ 
  / _ \  | | | | |_   _|  |  ___| |  _ \     / \    |  \/  | | ____|
 | | | | | | | |   | |    | |_    | |_) |   / _ \   | |\/| | |  _|  
 | |_| | | |_| |   | |    |  _|   |  _ <   / ___ \  | |  | | | |___ 
  \___/   \___/    |_|    |_|     |_| \_\ /_/   \_\ |_|  |_| |_____| 
*/
/*
                        ╔╦╗╔═╗╔═╗╔═╗╦ ╦╦ ╔╦╗
                         ║║║╣ ╠╣ ╠═╣║ ║║  ║ 
                        ═╩╝╚═╝╚  ╩ ╩╚═╝╩═╝╩ 
*/
@import url('https://outframe.glitch.me/import.fonts.css');
@import url('https://outframe.glitch.me/import.normalizecss.css');
:root {
    --text:white;
    --background:black;
    font-family: verdana;
}
/*
                        ╦ ╦╔═╗╦  ╔═╗╔═╗╦═╗╔═╗
                        ╠═╣║╣ ║  ╠═╝║╣ ╠╦╝╚═╗
                        ╩ ╩╚═╝╩═╝╩  ╚═╝╩╚═╚═╝
*/
.textCenter {
    text-align: center;
}
.textRight {
    text-align: right;
}
.textLeft {
    text-align: left;
}
/*
                        ╔═╗╦═╗╦╔╦╗
                        ║ ╦╠╦╝║ ║║
                        ╚═╝╩╚═╩═╩╝
*/
.grid {
	gap: 30px;
	margin-bottom: 35px;
    display: grid;
}
/*
                        ╔═╗╔═╗╦═╗╔╦╗
                        ║  ╠═╣╠╦╝ ║║
                        ╚═╝╩ ╩╩╚══╩╝
*/
.card {
    color:white;
	padding: 50px;
	background: #363333;
	border-radius: 3px;
	box-shadow: 0px 0px 30px #ab9f9f;
}
/*
                        ╔╗╔╔═╗╦  ╦╔╗ ╔═╗╦═╗
                        ║║║╠═╣╚╗╔╝╠╩╗╠═╣╠╦╝
                        ╝╚╝╩ ╩ ╚╝ ╚═╝╩ ╩╩╚═
*/
.nav {
	background: #17237483;
	display: flex;
	flex-wrap: wrap;
}
.nav .container {
	display: flex;
	flex-wrap: wrap;
	margin: 0px auto;
}
.nav a {
	color: #fff;
	text-decoration: none;
	display: flex;
	align-items: center;
	text-align: center;
	padding: 15px 25px;
	transition: .3s ease all;
	font-size: 18px;
}
.nav a.on,
.nav a:hover {
	background: rgba(28, 77, 150, 0.76);
}
/*
                        ╔╗ ╦ ╦╔╦╗╔╦╗╔═╗╔╗╔
                        ╠╩╗║ ║ ║  ║ ║ ║║║║
                        ╚═╝╚═╝ ╩  ╩ ╚═╝╝╚╝
*/
.button {
	background: #373737;
	border: none;
	cursor: pointer;
	color: #c7c7c7;
	display: inline-block;
	border-radius: 3px;
	text-align: center;
	line-height: 22px;
	transition: .6s ease all;
    padding: 35px 10px;
}
.button:hover {
	background: #bebebe;
}
.button.positive {
	background: #1fbf2c87;
}
.button.positive:hover {
	background: #2bff00bd;
    color:black;
}
.button.negative {
	background: #ff00007c;
}

.button.negative:hover {
	background: #ff0000af;
    color:black;
}
